<th:block th:fragment="substitutesChooseOrgUnit" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modalChooseOrgUnit" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
			        <h2 style="font-weight: bold">Vælg enheder</h2>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <em aria-hidden="true" class="fa fa-times"></em>
			        </button>
			    </div>
				<div class="modal-body">
					<div class="col-lg-12 row">
						<p>Hvis der vælges flere enheder, kan der kun vælges enheder, der har alle de samme IT-systemer tilknyttet af hensyn til arbejdstitler. Arbejdsstederne kan i stedet oprettes enkeltvis.</p>
						<table class="table" id="ouTable">
							<thead>
								<tr>
									<th>Valgt</th>
									<th>Navn</th>
									<th>IT-systemer</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="ou : ${allowedOrgUnits}">
									<td class="actionColumn">
										<input class="i-checks ouCheckboxes" th:id="'ou_selected_' + ${ou.uuid}" th:attr="data-uuid=${ou.uuid}, data-name=${ou.name}" type="checkbox">
									</td>
									<td th:text="${ou.name}" />
									<td th:text="${ou.systems}" />
								</tr>
							</tbody>
						</table>
              		</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="save" class="btn btn-primary" onclick="chooseOrgUnitService.saveOU();">Vælg</button>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="substitutesChooseOrgUnitScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var baseUrl = [[@{/}]];
		+]*/

		var chooseOrgUnitService;
		$(document).ready(function() {
			chooseOrgUnitService = new ChooseOrgUnitService();
			chooseOrgUnitService.init();
		});
		
		function ChooseOrgUnitService() {
			this.init = function() {
				var table = $('#ouTable').DataTable({
					"columns": [
					    { "orderable": false,
						  "searchable": false},
						  null,
						  null
					  ],
					"destroy" : true,
					"pageLength" : 10,
					"order": [ 1, 'asc' ],
					"responsive" : true,
					"autoWidth" : false,
					"language" : {
						"search" : "Søg",
						"lengthMenu" : "_MENU_ enheder per side",
						"info" : "Viser _START_ til _END_ af _TOTAL_ enheder",
						"zeroRecords" : "Ingen data...",
						"infoEmpty" : "",
						"infoFiltered" : "(ud af _MAX_ enheder)",
						"paginate" : {
							"previous" : "Forrige",
							"next" : "Næste"
						}
					}
				});

				$('#modalChooseOrgUnit').on('shown.bs.modal', function() {
					$(".ouCheckboxes").iCheck('uncheck');
				});

				$('.ouCheckboxes').on('ifChecked', function(event){
					chosenOUUuids.push($(this).data("uuid"));
					chosenOUNames.push($(this).data("name"));
				});

				$('.ouCheckboxes').on('ifUnchecked', function(event){
					var index = chosenOUUuids.indexOf($(this).data("uuid"));
					chosenOUUuids.splice(index, 1);
					var index = chosenOUNames.indexOf($(this).data("name"));
					chosenOUNames.splice(index, 1);
				});

				//assign listeners again on page change
				$('#ouTable').on('draw.dt', function() {
					$('.ouCheckboxes').off('ifChecked');
					$('.ouCheckboxes').off('ifUnchecked');

					$('.ouCheckboxes').on('ifChecked', function(event){
						chosenOUUuids.push($(this).data("uuid"));
						chosenOUNames.push($(this).data("name"));
					});

					$('.ouCheckboxes').on('ifUnchecked', function(event){
						var index = chosenOUUuids.indexOf($(this).data("uuid"));
						chosenOUUuids.splice(index, 1);
						var index = chosenOUNames.indexOf($(this).data("name"));
						chosenOUNames.splice(index, 1);
					});
				});
			}
			
			this.openModal = function() {
				$("#modalChooseOrgUnit").modal("show");
			}
			
			this.saveOU = function() {
				if (chosenOUUuids.length > 0) {
					var names = "";
					var uuids = "";

					for (uuid of chosenOUUuids) {
						if (uuids == "") {
							uuids = uuids + uuid;
						} else {
							uuids = uuids + ";" + uuid;
						}
					}

					for (name of chosenOUNames) {
						if (names == "") {
							names = names + name;
						} else {
							names = names + ", " + name;
						}
					}

					$('#orgUnitName').val(names);
					$('#orgUnitUuids').val(uuids).trigger("change");
					$('#modalChooseOrgUnit').modal('hide');
				}
			}
		}
		/*]]>*/
	</script>
</th:block>