<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\OS2Vikar\{Date}_Agent.log" />
    <add key="serilog:write-to:RollingFile.shared" value="true" />
    <add key="serilog:minimum-level" value="Information" />

    <!-- forbindelse til OS2vikar -->
    <add key="webSocketKey" value="xxxx" />
    <add key="webSocketUrl" value="wss://kommune.os2vikar.dk/ws" />
    
    <!-- krævede felter -->
    <add key="adUserOu" value="CN=Users,DC=amalie,DC=dk" />
    <add key="adPropertyCpr" value="employeeNumber" />
    <add key="emailDomain" value="@kommune.dk" />
    <add key="adSetInitialDisplayName" value="False" />

    <!-- udfyldes kun hvis vikarerne skal have en O365 licens -->
    <add key="adLicenseGroup" value="CN=GlobGroup,OU=Groups,DC=digitalidentity,DC=dk" />

    <!-- skal kun udfyldes hvis vikaren skal have en exchangekonto -->
    <add key="emailServer" value="exchange.kommune.dk" />
    <add key="emailOnlineDomain" value="@onlinestuff" />
    <add key="emailOnlineEnabled" value="True" />
    <add key="emailUsePsSnapIn" value="False" />

    <!-- udfyldes kun hvis alle vikarer skal have samme leder -->
    <add key="managerDN" value="CN=Amalie Bojsen,CN=Users,DC=amalie,DC=dk"/>

    <!-- ikke krævet, men kan bruges til at sætte nogle standardgrupper som alle vikarer er medlemmer af -->
    <add key="securityGroupsOnCreate" value="CN=testGroup1,CN=Users,DC=amalie,DC=dk;CN=testGroup2,CN=Users,DC=amalie,DC=dk;"/>
    
    <!-- ikke krævet, men kan bruges til at pege på en attribut der skal udfyldes med autorisationskode fra vikaren -->
    <add key="adPropertyAuthorizationCode" value=""/>

    <!-- udfyldes kun hvis styringen af AD grupper skal foretages i OS2vikar -->
    <add key="syncADGroupsToOS2vikarEnabled" value="True" />
    <add key="syncADGroupsOUDN" value="OU=security groups,DC=amalie,DC=dk" />
    <add key="os2vikarBaseUrl" value="https://kommune.os2vikar.dk/" />
    <add key="os2vikarApiKey" value="xxxx" />

    <!--CyberArk settings-->
    <add key="CyberArk.Enabled" value="false" />
    <add key="CyberArk.CyberArkAppId" value="" />
    <add key="CyberArk.CyberArkSafe" value="" />
    <add key="CyberArk.CyberArkObject" value="" />
    <add key="CyberArk.CyberArkAPI" value="" />
    
    <!-- udfyldes kun, hvis der skal laves tjek for om brugeren er i den rigtige OU og dens status skal tjekkes ved reaktivering
	     Kræver os2vikar.websockets.checkStatusWhenSetExpire=true i OS2vikar Core -->
    <add key="checkStatusWhenSetExpire" value="False" />

    <!-- sættes til true, hvis der skal køres et powerShell script efter oprettelse af en konto-->
    <add key="runPowerShellOnCreate" value="False"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
