<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body class="top-navigation">
	<div id="wrapper">
	    <div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>

	        <div class="wrapper wrapper-content">
	            <div class="row">
	                <div class="col-lg-10 offset-lg-1">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5><em class="fa fa-user"></em> &nbsp; Login til vikaradministration</h5>
                            </div>
		
                            <div class="ibox-content">
                            	<p>
                            	Vikaradministrationen kan tilgås via nedenstående login. Adgang til vikaradministrationen styres via KOMBITs
                            	adgangsstyring, og man skal efter tryk på "Login" vælge hvilken egen kommune, og dernæst gennemføre et login
                            	på normal vis.
                            	</p>
                            	
                            	<p>
                            	Hvis man efter login får at vide at man ikke er tildelt nogen roller i systemet, skal man tage fat i sin
                            	brugeradministrator, der skal tildele en en adgang til vikaradministrationen.
                            	</p>
                            	
	                        	<a style="font-size: 1.5em;" class="btn btn-primary full-width" th:href="@{/substituteadmin/substitutes}">Login</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	    </div>
	</div>

	<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>
